{% extends 'task/index.html.twig' %}

 {% block content %}

   
    <div class="sidebar-sticky btn-task">
        <ul class="nav flex-column">
          <li class="nav-item">
            <h1>Edit task</h1>
            {{ form_start(formadd)}}
                {{form(formadd)}}
             
 
             {{ form_end(formadd) }}
             <button href="{{ path('task_delete',{'id':task.Id}) }}" type="submit" >SUPPRIMER</button>
             
          </li>
        </ul>
       
</div> 

{% endblock %} 
    


