* {
    box-sizing: border-box;
}

.grid-container{
    display: grid;
   
    grid-gap: 0px;
}
.item1{
grid-column-start: 1;
grid-column-end: 2;
}

.item2{
    grid-column-start: 2;
    grid-column-end: 3;
    }
.item3{
        grid-column-start: 3;
        grid-column-end: 3;
    }
        
body {
    color:#222222;
}

.wrapper {
    position: relative
}

.sidebar {
    width: 300px;
    height: max-content;
    background: #F5F5F5;
    padding: 20px 0
}

ul li a img {
    background: #66BB6A;
    top: 0;
    border: none;
    width: 20px
}

.sidebar ul li {
    text-decoration: none;
}

.sidebar ul li a {
    color: #fff;
    display: block
}

.sidebar ul li:hover {
    background: #E06867
    
}

.sidebar ul li a:hover {
    text-decoration: none
}

.inputField button{
	width: 50px;
	height: max-content;
	border: none;
	color: #FF7675;
	margin-left: 5px;
	font-size: 21px;
	outline: none;
	background: none;
	cursor: pointer;
	border-radius: 3px;
	opacity: 0.6;
	transition: all 0.3s ease;
}
.inputField button:hover{
	background: #f1f1f1;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

.btn-task button{
  width: 150px;
	height: max-content;
	border: none;
  color: #f1f1f1;
	background-color: grey;
	margin-left: 5px;
	font-size: 21px;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
	opacity: 0.6;
	transition: all 0.3s ease;
}

.btn-task button:hover{
  background-color: #FF7675;
}